html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.sections {
  min-height: 100vh;
  background-color: rgb(194, 241, 140);
}

.reader {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.publication {
  padding: 24px;
  border: 1px none #e6ecf1;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 6px 28px 0 rgba(24, 52, 117, 0.2);
}

.publication h2 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}

.publication p {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
}

.counter {
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.button {
  display: inline-block;
  min-width: 240px;
  border: 0;
  padding: 8px 16px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 3px;
  background-color: #3884ff;
  transition: all 200ms ease;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.button[disabled] {
  pointer-events: none;
  background-color: #bdbdbd;
}

.button:hover,
.button:focus {
  background-color: #1f65d6;
}
